/* Wire Frame */

header, main, footer {   
    border: 1px solid navy;
} 

/* section, h2, p, ul {  
    border: 1px solid navy;
} */

body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    height: 100vh;
}

header, main, footer {
    padding: 1rem;
}

header, footer {
    background-color: rgb(99, 99, 133);
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

nav {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

main {
   flex-grow: 1;
   margin: auto; 
}

h1 {
    display: flex;
    align-items: center;
    padding-left: 10rem;
}

.mt- {
    margin-top: 0.75rem;
}
.pt {
    padding-top: 1.5rem;
}


@font-face {
    font-family: Montserrat;
    src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
}

@media screen and (max-width: 375px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}

 @media screen and (max-width: 375px) { 
    h1 {
       padding-left: 0;
    } 
}